:root {
    --p-blue: hsl(246, 80%, 60%);
    --p-light-red-wk: hsl(15, 100%, 70%);
    --p-soft-blue-pl:hsl(195, 74%, 62%);
    --p-lime-green-ex: hsl(145, 58%, 55%);
    --p-light-red-st: hsl(348, 100%, 68%);
    --p-violet-sc: hsl(264, 64%, 52%);
    --p-soft-orange-sfc: hsl(43, 84%, 65%);

    --n-vdk-blue: hsl(226, 43%, 10%);
    --n-dk-blue: hsl(235, 46%, 20%);
    --n-ds-blue: hsl(235, 45%, 61%);
    --n-pale-blue: hsl(236, 100%, 87%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 1.125rem;
    padding: 3rem 1rem;
    padding-bottom: 0;
    background-color: var(--n-vdk-blue);
    color: #FFF;

}

.cards {
    display: contents;
}

span {
    font-size: .8rem;
    color: var(--n-ds-blue);
}


.upper p {
    font-weight: 400;
    color: var(--n-pale-blue);
}

.upper span {
    font-weight: 300;
    color: var(--n-pale-blue);
}


section.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;


}

div.profile-card {
    display: flex;
    flex-direction: column;
    background-color: var(--n-dk-blue);
    border-radius: 10px;
    width: 270px;
}

.profile-card img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    
}

div.upper {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--p-blue);
    padding: 1.5rem;
    border-radius: 10px;
}

div.lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--n-dk-blue);
    padding: 1rem;
    border-radius: 10px;
}

.lower span {
    cursor: pointer;
}

.lower span:hover, .lower span.active {
    color: #fff;
}

div.card {
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: var(--n-dk-blue);
    border-radius: 10px;
}

.top {
    height: 40px;
    background-color: var(--p-light-red-wk);
    background-repeat: no-repeat;
    background-position: right 10px top -10px;
    background-size: 60px;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 0;
}

div.card-info {
    background-color: var(--n-dk-blue);
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    top: -5px;
    z-index: 9;
}

.card-info::after {
    content: '';
    position: absolute;
    inset: 0;
    bottom: -5px;
    background-color: hsla(235, 45%, 61%, 0);
    transition: background-color 0.3s ease;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
}

.card-info:hover::after {
    background-color:  hsla(235, 45%, 61%, .3);
}

div.card-info:hover {
    background-color: hsla(235, 46%, 20%, .7);;
}

.work {
    background-image: url(../assets/icon-work.svg);
}

.play {
    background-image: url(../assets/icon-play.svg);
    background-color: var(--p-soft-blue-pl);
}

.study {
    background-image: url(../assets/icon-study.svg);
    background-color: var(--p-light-red-st);
}

.exercise {
    background-image: url(../assets/icon-exercise.svg);
    background-color: var(--p-lime-green-ex);
}

.social {
    background-image: url(../assets/icon-social.svg);
    background-color: var(--p-violet-sc);
}

.self {
    background-image: url(../assets/icon-self-care.svg);
    background-color: var(--p-soft-orange-sfc);
}

div.card-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

div.ctgr, div.date {
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

div.date {
    gap: 1rem;
}

.ctgr img {
    width: 15px;
}

.date span {
    font-weight: 300;
    color: var(--n-pale-blue);
}

.card p {
    font-weight: 300;
}

@media (min-width: 900px) {

    body {
        height: 100vh;
    }
    section.container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-template-rows: repeat(2, 200px);
        justify-content: center;
        justify-items: center;
        align-items: unset;
        align-content: center;
        grid-gap: 1.5rem;
        height: 100%;
    }

   .profile-card {
    grid-row: 1/-1;
    max-width: 100%;
   }

   div.card {
    max-width: 100%;
   }

   div.upper {
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
   }

   .upper p {
    font-size: 3.5ch;
    font-weight: 400;
   }

   div.lower {
    flex: .8;
    flex-direction: column;
    align-items: flex-start;
   }

   div.date p {
    font-size: 3ch;
    font-weight: 300;
   }

   div.card-info {
    justify-content: space-around;
    height: 100%;
   }

   div.date {
    flex-direction: column;
    align-items: flex-start;
   }

}

div.attribution { 
    font-size: 14px; 
    text-align: center;
    padding: 1rem 0;
    background-color: var(--white);
 }

.attribution a { 
    color: var(--p-light-red-wk); 
}
